<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        const func = async () => {
            const response = await fetch("http://localhost:5000/api/users");

            if (!response.ok) {
                throw new Error('Error');
            }

            const resData = await response.json();
            document.getElementById("myDiv").innerText=resData[0];
            console.log(resData);
        }
        func();
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="myDiv"></div>
</body>

</html>